CDK_DEFAULT_REGION="us-east-1"
CDK_DEFAULT_ACCOUNT="xxxx"
REGION="us-east-1"
ACCOUNT_ID="$CDK_DEFAULT_ACCOUNT"
## Inf1
# IMAGEPATH="pytorch-inference-neuron:1.13.1-neuron-py38-sdk2.10.0-ubuntu20.04"
# INSTANCE_TYPE="inf1"
## Inf2/Trn1
# IMAGEPATH="pytorch-inference-neuronx:1.13.1-neuronx-py38-sdk2.10.0-ubuntu20.04"
# INSTANCE_TYPE="inf2"
# GPU
IMAGEPATH="pytorch-inference:1.13.1-gpu-py39-cu117-ubuntu20.04-ec2"
INSTANCE_TYPE="gpu"
